# Ignore PyInstaller build folders
build/
dist/
*.spec

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
env/
venv/
first_app/

# OS files
.DS_Store
Thumbs.db